<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Safe Delivery CMS</title>
    <meta name="description" content="Safe Delivery CMS">
    <meta name="author" content="Maternity Foundation">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="Material Console">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">
    <meta name="version" content="<%= htmlWebpackPlugin.options.VERSION %>">
    <meta http-equiv="cleartype" content="on">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Padauk:400,700&amp;subset=myanmar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/draft-js/0.7.0/Draft.min.css">
    <link rel="stylesheet" type="text/css" href="/preeti.css">
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
